# EditorConfig는 여러 에디터와 IDE에서 일관된 코딩 스타일을 유지하기 위한 설정 파일입니다.
root = true # 이 설정 파일이 최상위 설정 파일임을 명시하며, EditorConfig 플러그인은 더 상위 디렉토리에서 설정 파일을 찾지 않습니다.

# 아래 설정들은 모든 파일에 적용됩니다.
[*]
# 파일의 문자 인코딩을 UTF-8로 설정합니다.
charset = utf-8
# 줄 끝을 LF(Unix 스타일)로 설정합니다.
end_of_line = lf
# 파일의 끝에 새 줄을 추가합니다.
insert_final_newline = true
# 들여쓰기 스타일을 공백으로 설정합니다.
indent_style = space
# 들여쓰기 크기를 4로 설정합니다.
indent_size = 4
# 한 줄의 최대 길이를 250으로 제한합니다.
max_line_length = 140
# 줄 끝의 공백을 제거합니다.
trim_trailing_whitespace = true

# Kotlin 파일(.kts, .kt)에 대한 설정입니다.
[{*.kts,*.kt}]
# Ktlint 코딩 스타일을 IntelliJ IDEA로 설정합니다.
ktlint_code_style=intellij_idea
# 와일드카드 임포트를 비활성화합니다.
ktlint_standard_no-wildcard-imports = disabled
# 파일 이름 규칙을 비활성화합니다.
ktlint_standard_filename = disabled
# 패키지 이름 규칙을 비활성화합니다.
ktlint_standard_package-name = disabled
# 변수 이름 규칙
ktlint_standard_property-naming = disabled

# Markdown 파일(.md)에 대한 설정입니다.
[*.md]
# Markdown 파일에서는 줄 끝의 공백을 제거하지 않습니다. (Markdown에서는 두 개의 공백으로 줄 바꿈을 나타냅니다.)
trim_trailing_whitespace = false

# YAML 파일(.yml, .yaml)에 대한 설정입니다.
[*.{yml,yaml}]
# 들여쓰기 크기를 2로 설정합니다.
indent_size = 2

